<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
        <title>
            Inseta el título aquí
        </title>
    </head>
    <body>
        <h1 style=text-align:center>Bienvenido a mi xd</h1>

        <table>
            


                <tr>
                    <th>
                       First Name 
                    </th>
                    <th>
                       Last Name
                    </th>
                    <th>
                       Email
                    </th>
                </tr>

            </thead>
            <tbody>
                <tr th:each="student:${students}">
                    <td th:text="${student.firstName}"></td>
                    <td th:text="${student.lastName}"></td>
                    <td th:text="${student.email}"></td>
                    
                </tr>
            </tbody>
        </table>

    </body>
</html>